body{
    background-color: lightgrey;
}

.containerCima{
    margin: 0px auto 0px auto;
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px grey;
    
}

h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 3vh;
}

p{
    margin: 1px 5vw;
    font-weight: bold;
}

.inputReceb{
    padding: 1vh 2vw 1vh 2vw;
    margin-bottom: 2vh;
    width: 30vw;
    margin-left: 5vw;
    font-size: 17px;
}

.buttonAdd{
    width: 15vw;
    height: 6vh;
    margin-left: 42vw;
    border-radius: 10px;
    border-color: green;
    font-size: large;
    font-weight: bold;
    background-color: rgb(126, 238, 156);
}

.indexTabela{
    width: 90vw;
    height: 8vh;
    margin: 5vh auto 0px auto;
    display: flex;
    justify-content: space-around;

}

.indexTabela span{
    background-color: lightgreen;
    width: 100%;
    height: 66%;
    text-align: center;
    border: solid 2px;
    padding-top: 2.5vh;
    font-weight: bold;
    font-size: 18px;
}

.linhasTabelas{
    width: 89.5vw;
    height: 5.5vh;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: auto auto auto auto 0px;
    justify-content: space-around;
}

